
@{
    ViewBag.Title = "Index";
}

<main>
    <section class="FreeShops">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12  margin">
                    <div class="img sl">
                        <img src="~/Public/img/freeShop/jw-404_xlrg.jpg" alt="">
                        <h6>Hamam xalatı</h6>

                        <div class="detail">

                            <input class="d-none" type="checkbox">
                            <span>Free</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12  margin">
                    <div class="img sl">
                        <img src="~/Public/img/freeShop/soap.png" alt="">
                        <h6>Sabun</h6>
                        <div class="detail">

                            <input class="d-none" type="checkbox">
                            <span>Free</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12  margin">
                    <div class="img sl">
                        <img src="~/Public/img/freeShop/bath-towel-for-hotels-500x500.png" alt="">
                        <h6>Dəsmal</h6>
                        <div class="detail">

                            <input class="d-none" type="checkbox">
                            <span>Free</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12  margin">
                    <div class="img sl">
                        <img src="~/Public/img/freeShop/su.jpg" alt="">
                        <h6>İçməli Su</h6>

                        <div class="detail">

                            <input class="d-none" type="checkbox">
                            <span>Free</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12  margin">
                    <div class="img sl">
                        <img src="~/Public/img/freeShop/TC66_WHI_FRONT-600x400.webp" alt="">
                        <h6>Tərlik</h6>
                        <div class="detail">

                            <input class="d-none" type="checkbox">
                            <span>Free</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12  margin">
                    <div class="img sl">
                        <img src="~/Public/img/freeShop/bath-towel-for-hotels-500x500.png" alt="">
                        <h6>Dəsmal</h6>
                        <div class="detail">

                            <input class="d-none" type="checkbox">
                            <span>Free</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12  margin">
                    <div class="img sl">
                        <img src="~/Public/img/freeShop/jw-404_xlrg.jpg" alt="">
                        <h6>Hamam xalatı</h6>

                        <div class="detail">

                            <input class="d-none" type="checkbox">
                            <span>Free</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12  margin">
                    <div class="img sl">
                        <img src="~/Public/img/freeShop/22005735003.jpg" alt="">
                        <h6>Sabun</h6>
                        <div class="detail">

                            <input class="d-none" type="checkbox">
                            <span>Free</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</main>


