@model List<Hotel_Final.Models.Product>
@{
    ViewBag.Title = "Index";
}
    <main>
        <section class="FreeShops" id="Paid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                <ul class="list-unstyled">
                    @foreach (var prod in Model)
                    {
                        <li>
                            <form #myform action="/Cash/Index" method="post">
                                <input type="hidden" name="products" value=@prod.Id />
                            </form>
                            <div class="meta d-flex justify-content-between">
                                <a href="#">@prod.Name</a>
                                <span>@prod.Price</span>
                            </div>

                        </li>
                    }

                </ul>
            </div>
            </div>
            </div>
            @*<div class="container">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6  margin">
                            <div class="img sl">
                                <form action="/Cash/Index"  method="post">
                                    <input type="hidden" name="products" value="" />
                                    <img src="~/Upload/@product.Photo" alt="">
                                    <h6>@product.Name</h6>
                                    <div class="detail">

                                        <input class="d-none" type="checkbox">
                                        <span>@product.Price$</span>
                                    </div>
                                </form>
                            </div>


                        </div>

                    }*@

                    @*<div class="col-lg-3 col-md-4 col-sm-6  margin">
                        <div class="img sl">
                            <img src="~/Public/img/freeShop/jw-404_xlrg.jpg" alt="">
                            <h6>Hamam xalatı</h6>
                            <div class="detail">

                                <input class="d-none" type="checkbox">
                                <span>20$</span>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6  margin">
                        <div class="img sl">
                            <img src="~/Public/img/freeShop/jw-404_xlrg.jpg" alt="">
                            <h6>Dəsmal</h6>
                            <div class="detail">

                                <input class="d-none" type="checkbox">
                                <span>20$</span>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6  margin">
                        <div class="img sl">
                            <img src="~/Public/img/freeShop/jw-404_xlrg.jpg" alt="">
                            <h6>Hamam xalatı</h6>
                            <div class="detail">

                                <input class="d-none" type="checkbox">
                                <span>20$</span>
                            </div>
                        </div>


                    </div>*@

                </div>
            </div>
        </section>
    </main>
