@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right " }))
    {
    @Html.AntiForgeryToken()

    <ul class="mt-2 list-unstyled logright ml-2 d-flex">
        <li>
            @{ 
                var controllerName = this.ViewContext.RouteData.Values["Controller"].ToString();
            }
            @if (controllerName != "Manage") { 
            @Html.ActionLink( "My Profile ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                }
        </li>
        <li><a class="btnLogin ml-4" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="list-unstyled logright d-flex mt-2">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {@class="btnLogin", id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {@class="ml-4 btnLogin", id = "loginLink" })</li>
    </ul>
}
