@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <div>
        <img style="width:100%" src="~/Public/img/network error.jpg" alt="Alternate Text" />
    </div>

@*<h1 class="text-danger ">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@

